%h3 
	Once per day
	%br
	At a random moment
	%br
	You'll experience a brief respite
	%br
	From your otherwise dull and pathetic existence
	%br
	We call this, the Daily Game Changer

%br
%br
%br
%br
%h3 ENYOY! :D
