.js-video
	<iframe width="840" height="630" src="http://www.youtube.com/embed/RfiQYRn7fBg?start=&amp;end=&amp;version=3&amp;autoplay=1&amp;color=white&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;theme=light" frameborder="0" allowfullscreen=""></iframe>