.row 
	.span6
		%h3.big-prompt YOU DID IT
		%h3.small-prompt
			FROM THIS DAY FORWARD,
			%br
			BY EMAIL YOU SHALL RECEIVE,
			%br
			A 
			%span DAILY GAME CHANGER
			%br
			%br
			\...LIKE THIS ONE ==>

	.pull-right
		<iframe width="420" height="315" src="http://www.youtube.com/embed/ccenFp_3kq8?start=3&autoplay=1&color=white&modestbranding=1&rel=0&showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>