= @game_changer.embed.html_safe

%br
%br
dgc is a once-per-day random morsel of amazing. <strong> want in on the fun?</strong>
%br
%br
=link_to "request access", root_path, :class => 'loud-btn'
%br
%br