<iframe width="840" height="630" src="http://www.youtube.com/embed/Nl9WMIPzd6w?start=54;end=&amp;version=3&amp;autoplay=1&amp;color=white&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;theme=light" frameborder="0" allowfullscreen=""></iframe>
%br
%br
- if @peon
	= form_for @peon do |f|
		= hidden_field_tag 'resubscribe', 'true'
		= f.submit "this was a horrible mistake! resubscribe me!", :class => 'loud-btn'